
.Board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
    gap: 6px;
    @apply bg-black opacity-70
}

.Board:has(div[data-clickable=true], div[data-mywinner=true]) {
    opacity: 1;
}


.Board div[data-clickable=true] {
    @apply cursor-pointer  hover:bg-slate-200
}

.Board div[data-mywinner=true] {
    @apply bg-green-400 text-green-800 
}

.Board div[data-opponentWinner=true] {
    @apply bg-red-400 text-red-800 
}


.Board div {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px black;
    border: 1px solid black;
    cursor: default;
    font-size: 55px;
    @apply rounded bg-white flex justify-center
}